<!DOCTYPE html>
<html>
  <head>
    <title>Projeto 01</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Listagem de Clientes</h1>
    <p>Clientes já cadastrados no sistema</p>
    <table>
      <thead>
        <tr>
          <td class="name">Nome</td>
          <td class="idade">Idade</td>
          <td class="uf">UF</td>
          <td class="acao">Ações</td>
        </tr>
      </thead>
      <tbody>
        <% if(!results || results.length == 0) { %>
        <tr>
          <td colspan="4">Nenhum cliente Cadastrado</td>
        </tr>
        <% } else { results.forEach(function(cliente){ %>
        <tr>
          <td><%= cliente.Nome %></td>
          <td><%= cliente.Idade %></td>
          <td><%= cliente.UF %></td>
          <td>
            <a href="/edit/<%= cliente.ID %>">Editar</a>
            <a
              href="/delete/<%= cliente.ID %>"
              onclick="return confirm('Tem certeza?');"
              >Excluir</a
            >
          </td>
        </tr>
        <%}) }%>
        <script>
          if (location.href.indexOf("delete=true") != -1) {
            alert("Cliente excluído com sucesso!");
          } else if (location.href.indexOf("edit=true") != -1) {
            alert("Cliente editado com sucesso!");
          } else if (location.href.indexOf("new=true") != -1) {
            alert("Cliente cadastrado com sucesso!");
          } else if (location.href.indexOf("erro") != -1) {
            alert("Ocorreu um erro!");
          }
        </script>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><a href="/new">Cadastrar Novo Cliente</a></td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
