<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Cadastro Cliente</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Preencha os dados abaixo para salvar o cliente</p>
    <form action="<%= action %>" method="post">
      <label
        >Nome: <input type="text" name="nome" value="<%= result.Nome %>"
      /></label>
      <label
        >Idade: <input type="number" name="idade" value="<%= result.Idade %>"
      /></label>

      <label>UF: <select name="uf">
        <% const s = "selected" %>
        <option <% if(result.UF === "sp") { %><%= s %><% } %>>SP</option>
        <option <% if(result.UF === "rj") { %><%= s %><% } %>>RJ</option>
        <option <% if(result.UF === "mg") { %><%= s %><% } %>>MG</option>
        <!-- coloque os estados que quiser -->
      </select></label>

      <div>
        <input type="submit" value="Cadastrar" />
      </div>
      <div>
        <a href="/">Cancelar</a>
      </div>
    </form>
  </body>
</html>
